.editor-button {
    outline: none;
    min-width: 100px;
    height: 30px;
    background-color: #303242;
    font-size: 14px;
    border-left: none;
    border-bottom: none;
    border-top: 1px solid #f7b9dd;
    color: white;
    padding: 3px 7px 3px 7px;
}